<p-dataTable [value]="lancamentos" [paginator]="true" [rows]="2" [responsive]="true">
  <p-column field="pessoa" header="Pessoa"></p-column>
  <p-column field="descricao" header="Descrição"></p-column>
  <p-column field="dataVencimento" header="Vencimento" styleClass="col-data">
    <ng-template let-lanc="rowData" pTemplate="body">
      {{lanc.dataVencimento | date: 'dd/MM/y'}}
    </ng-template>
  </p-column>
  <p-column field="dataPagamento" header="Pagamento" styleClass="col-data">
    <ng-template let-lanc="rowData" pTemplate="body">
      {{lanc.dataPagamento | date: 'dd/MM/y'}}
    </ng-template>
  </p-column>
  <p-column field="valor" header="Valor" styleClass="col-valor">
    <ng-template let-lanc="rowData" pTemplate="body">
      <span [ngStyle]="{ color: lanc.tipo === 'DESPESA' ? 'red' : 'blue' }">R$ {{lanc.valor | number: '1.2-2'}}</span>
    </ng-template>
  </p-column>
  <p-column styleClass="col-acoes">
    <ng-template pTemplate="body">
      <a pButton icon="fa-pencil" pTooltip="Editar" tooltipPosition="top"></a>
      <button pButton icon="fa-trash" pTooltip="Excluir" tooltipPosition="top"></button>
    </ng-template>
  </p-column>
</p-dataTable>