<div class="container">
  <div class="ui-g">
    <div class="ui-g-12">
      <h1>Lançamentos</h1>
    </div>
    <div class="ui-g-12 ui-fluid">
      <!--essa classe ui-fluid faz com que os filhos desse componente passem a ocupar 100% a tela-->
      <label>Descrição</label>
      <input pInputText type="text">
    </div>
    <div class="ui-g-12">
      <label style="display: block;">Vencimento</label>
      <!--esse estilo inline faz com que seja forçada uma quebra de linha nesse componente-->
      <input pInputText type="text">

      <label>Até</label>
      <input pInputText type="text">
    </div>
    <div class="ui-g-12">
      <button pButton type="submit" label="Pesquisar"></button>
    </div>
  </div>
  <div class="ui-g">
    <div class="ui-g-12">
      <!--O próprio dataTable já funciona como um loop na nossa lista-->
      <app-lancamentos-grid [lancamentos]="lancamentos"></app-lancamentos-grid>
    </div>
    <div class="ui-g-12">
      <a pButton label="Novo Lançamento"></a>
    </div>
  </div>
</div>